/* .App {
  text-align: center;
} */
body{
  background-color: #eff7fa
}
.heading{
  /* background-color: #122951!important ; */
  background-image: url('homeBg.jpg') !important;
  background-size: cover !important;
 
  
  background-attachment: scroll;
}
.googleIcon{
  width: 5.0em;
  height: 5.0em;
}
.providsSeg{
  background-color: #dff0f6!important ;
  background-size: cover !important;
}
.footer{

  background-color: #63b8d4!important ;
}